html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  min-width: 360px;
  overflow-x: hidden;
  position: relative;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}

.container {
  //  Центральная область должна быть максимальной шириной 960 пикселей + отступы
  max-width: 990px;
  padding: 0 4px; // item: margin = 11px
  margin: 0 auto;
}